:root {
  --primary-font: "Raleway", sans-serif;
  --heading-font: "Pinyon Script", cursive;
  --primary-color: black;
  --secondary-color: white;
  --accent-color: #f8f9fa;
}

body {
  text-align: center;
}
nav {
  font-family: "Raleway", sans-serif !important;
}
.hero-container {
  max-width: 1600px;
  background-color: #f8f9fa;
  margin: 0 auto;
}
.hero-content {
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  color: black;
  font-family: "Pinyon Script", cursive;
  font-size: 48px;
}
img.logo {
  width: 200px;
  margin: 0 auto;
}
.grid-3-even-columns {
  margin: 30px 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.image-grid {
  display: grid;
  justify-content: center;
}
.image-container {
  max-width: 400px;
  align-items: center;
  position: relative;
}
.home-images {
  width: 100%;
  object-fit: scale-down;
  background-color: black;
  aspect-ratio: 4 / 5;
  filter: grayscale(100);
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.image-link {
  font-size: 64px;
  color: white;
  transform: translateY(40px);
  transition: transform 1000ms;
}

.image-overlay:hover {
  opacity: 1;
  transition: ease-in-out all 300ms;
}
.image-overlay:hover > .image-link {
  transform: translateY(0);
}
